side_proj/output.wav
side_proj/start_dev.bat
side_proj/tokens.env
side_proj/Rules/spanish_conversation_bot_plan.txt
side_proj/Rules/frontend.txt
side_proj/requirements.txt
side_proj/requirements.txt
side_proj/Rules/frontend.txt
side_proj/notebooks/HF.config
side_proj/Rules/frontend.txt
